<script src="assets1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href=""><i id="icon" class="fa fa-bus fa-3x"></i> <span class="highlight">Fancy</span> Ride</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/serv" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/contact" routerLinkActive="active" >Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/about" routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>





















  <!--<div class="header-top">
    <div class="container">
        <div class="row">
          <div class="col-md-6 logo">
            <img src="../assets/img/redbus_india_logo.png" alt="">
          </div>
          <div class="col-md-6">
            <p>
              <span class="login"> Login</span>
              <span class="login"> Sign Up</span>
            </p>
           <p>
             <img src="../assets/img/246x0w.jpg" >
             ,01712345678
              01712345678,

            </p>
          </div>
        </div>
      </div>

</div>

<div class="menu">

  <div class="container">
    <div class="row justify-content-center">
     <div class="col-md-7">
      <ul>
        <li [routerLink]=''>Home</li>

      </ul>
     </div>

    </div>
  </div>

</div>-->
