<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">OUR TOP PRIORITIES</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-envelope text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Reserve Your Tickets Online</h3>
          <p class="text-muted mb-0">Our tickets are all right here.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-hotel text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Hotel Reservations</h3>
          <p class="text-muted mb-0">Pleasing people all over the world and Making the Earth a better place!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-bus text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Car Rentals</h3>
          <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-briefcase text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Special Services</h3>
          <p class="text-muted mb-0">The world’s favourite Services,Treat Your Customers Right!!</p>
        </div>
      </div>
    </div>
  </div>
</section>
